@tailwind base;
@tailwind components;
@tailwind utilities;




::selection {
  background-color: rgba(165, 114, 247, 0.5);
  /* Cambia el color y la opacidad según tus preferencias */
  color: #1ec5a1;
  /* Cambia el color del texto seleccionado si es necesario */
}

:root {
  background-color: #191414;
  overflow-x: hidden;
  /* styles.css */



}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: #e9e7e7;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  to {
    transform: translate(0);
  }
}


.tool-container {
  border-radius: 13px;
  background: #e0e0e0;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);
  box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);

}

.tool-pattern {
  background-color: #F5F1ED;
  animation: moveBackground 30s reverse infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 100%;
  }
}

.card {
  background: rgba(234, 224, 224, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(234, 224, 224, 0.02);
}



#demotext {
  color: #FFFFFF;
  text-shadow: 4px 3px 0 #7A7A7A;
  color: #FFFFFF;
}


.gradienttext {
  background: #30CFCA;
  background: linear-gradient(to right, #30CFCA 0%, #C24BCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.heyGradient {
  background: #657ECF;
  background: linear-gradient(to right, #657ECF 0%, #1FCFA6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.TextPixel {
  background: #44CACF;
  background: linear-gradient(to right, #44CACF 0%, #CC74CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.card {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  display: flex;
  justify-content: center;
}

.card:hover {
  opacity: 0.8;
  transform: scale(1.10);
}


.shadow-skills {
  background: #5374CF;
  background: linear-gradient(to right, #5374CF 0%, #8C5FCF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.work-shadow {
  background: #595DCF;
  background: linear-gradient(to right, #595DCF 0%, #CF63BD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.modakFont {
  font-family: 'Dela Gothic One', cursive;
}

.pruebaFont {
  font-family: 'Roboto', sans-serif;

}


.PixelFont {
  font-family: 'Press Start 2P', cursive;
}

.GeologicaFont{
  font-family: 'Geologica', sans-serif;
}

