@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background-color: rgba(165, 114, 247, 0.5);
  /* Cambia el color y la opacidad según tus preferencias */
  color: #1ec5a1;
  /* Cambia el color del texto seleccionado si es necesario */
}

/* Cambia este color al que desees para el texto seleccionado */





:root {
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(223, 222, 222, 0.05) 1px, transparent 1px),
    linear-gradient(to right, rgba(240, 238, 238, 0.13) 1px, transparent 1px);
  background-size: 20px 100%, 40px 100%;
  background-position: -10px 0, -20px 0;

  /* styles.css */



}


@font-face {
  font-family: Syne;
  src: url(./assets/fonts/Syne-VariableFont_wght.ttf);

  font-family: GolosText;
  src: url(./assets/fonts/GolosText-VariableFont_wght.ttf);

  font-family: 'Ultra', serif;
  src: url(./assets/fonts/Ultra-Regular.ttf);
}

/* styles.css */

/* Agregar líneas verticales en el fondo */
.header-background {
  background-image: linear-gradient(to right, rgba(223, 222, 222, 0.05) 1px, transparent 1px),
    linear-gradient(to right, rgba(240, 238, 238, 0.13) 1px, transparent 1px);
  background-size: 20px 100%, 40px 100%;
  background-position: -10px 0, -20px 0;
}

/* Ajustar margen y padding para centrar el contenido */





.tool-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231af5e5' fill-opacity='0.37'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  /* Ajusta la opacidad según sea necesario */
}

.text-gradient {
  background: #4738CF;
  background: -webkit-linear-gradient(to bottom right, #4738CF 0%, #CF38CF 100%);
  background: -moz-linear-gradient(to bottom right, #4738CF 0%, #CF38CF 100%);
  background: linear-gradient(to bottom right, #4738CF 0%, #CF38CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.glitch {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  to {
    transform: translate(0);
  }
}


.tool-container {
  border-radius: 13px;
  background: #e0e0e0;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);
  box-shadow: 8px 8px 24px 0px rgba(83, 71, 195, 1);

}

.tool-pattern{
  background-color: #0f0c12;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%235d79d5' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");

animation: moveBackground 30s reverse infinite;
}
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}